<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mysqlcheck.mapper.test.TestDbInfoMapper">


    <select id="getTablesByName" resultType="string">
        SELECT TABLE_NAME
        FROM TABLES
        WHERE 1 = 1
        <if test="dbName != null and dbName != ''">
            AND TABLE_SCHEMA = #{dbName}
        </if>
    </select>
    <select id="getColumns" resultType="com.example.mysqlcheck.pojo.Column">
        SELECT COLUMN_NAME AS `columnName`,
        COLUMN_TYPE AS `columnType`,
        column_key = 'PRI' AS `isPrimaryKey`,
        IS_NULLABLE = 'NO' AS `isNullable`
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE 1 = 1
        <if test="dbName != null and dbName != ''">
            AND `TABLE_SCHEMA` = #{dbName}
        </if>
        <if test="tableName != null and tableName != ''">
            AND `TABLE_NAME` = #{tableName};
        </if>
    </select>
</mapper>
